################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

obj
bin
.vs
/packages
/templates/bak
*.user
*.suo
*.netrc
_netrc
*.msi
/Custom/CustomDomainParameter.cs
/RtValues.xml
