################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/x86
/bin
/packages
/templates/bak
*.user
*.suo
*.netrc
_netrc