<RtObject>
  <group name="Settings" description="Settings that control how Artie works." hidden="False">
    <item name="RTSettings_Title" displayName="Title" description="Title to show in the titlebar" type="String" defaultValue="RazorTransform"/>
    <item name="RTSettings_LastPath" displayName="Save Path" description="Location used when saving." type="Folder" defaultValue=".."/>
    <item name="RTSettings_LastTemplatePath" displayName="Template Path" description="Location for retrieving templates." type="Folder" defaultValue="Templates"/>
    <item name="RTSettings_PSForeground" displayName="PowerShell Foreground" description="Foreground color for PowerShell" type="PsColorType" defaultValue="White"/>
    <item name="RTSettings_PSBackground" displayName="PowerShell Background" description="Background color for PowerShell" type="PsColorType" defaultValue="DarkBlue"/>
  </group>
  <group name="About" description="About RazorTransform." hidden="False">
    <item name="RTSettings_About" displayName="About" description="About" type="String" defaultValue="RazorTransform tool for tranforming files." readOnly="true"/>
    <item name="RTSettings_Copyright" displayName="Copyright" description="Copyright" type="string" defaultValue="Copyright (c) 2014. Jim Wallace" readOnly="true"/>
    <item name="RTSettings_Version" displayName="version" description="Major version" type="string" defaultValue="2.0" readOnly="true"/>
  </group>
  <custom name="PsColorType" classname="RazorTransform.Custom.PsColorType,RazorTransform"/>
</RtObject>