<RtObject>
  <group name="Settings" description="Settings that control how Artie works." hidden="False">
    <item name="RTSettings_Title" displayName="Title" description="Title to show in the titlebar" type="String" defaultValue="RazorTransform"/>
    <item name="RTSettings_LastPath" displayName="Save Path" description="Location used when saving." type="Folder" defaultValue="Output"/>
    <item name="RTSettings_LastTemplatePath" displayName="Template Path" description="Location for retrieving templates." type="Folder" defaultValue="Templates"/>
    <item name="RTSettings_PSForeground" displayName="PowerShell Foreground" description="Foreground color for PowerShell" type="PsColorType" defaultValue="White"/>
    <item name="RTSettings_PSBackground" displayName="PowerShell Background" description="Background color for PowerShell" type="PsColorType" defaultValue="DarkBlue"/>
  </group>
  <group name="About" description="About RazorTransform." hidden="False">
    <item name="RTSettings_About" displayName="About" description="About" type="Label" defaultValue="RazorTransform tool for tranforming files." />
    <item name="RTSettings_Copyright" displayName="Copyright" description="Copyright" type="label" defaultValue="Copyright (c) 2014. Jim Wallace" />
    <item name="RTSettings_Version" displayName="Version" description="Major version" type="label" defaultValue="2.0" />
    <item name="RTSettings_FileVersion" displayName="File Version" description="Version of file" type="label" defaultValue="2.0" />
    <item name="RTSettings_License" displayName="License" description="MIT License" type="hyperlink" defaultValue="https://github.com/Seekatar/joat-razortransform/wiki/License" />
    <item name="RTSettings_Doc" displayName="Using Guide" description="" type="hyperlink" defaultValue="https://github.com/Seekatar/joat-razortransform/raw/master/Doc/Using%20Arite.docx" />
    <item name="RTSettings_MainPage" displayName="Project page" description="" type="hyperlink" defaultValue="https://github.com/Seekatar/joat-razortransform" />
    
  </group>
  <custom name="PsColorType" classname="RazorTransform.Custom.PsColorType,RazorTransform"/>
</RtObject>